<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nullah.newborn.mapper.base.UserMapper">
  <resultMap id="BaseResultMap" type="cn.nullah.newborn.model.base.User">
    <id column="u_USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="u_USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="u_USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="u_USER_STATUS" jdbcType="SMALLINT" property="userStatus" />
  </resultMap>
  
  <sql id="Base_Column_List">
    u.USER_ID as u_USER_ID, u.USER_NAME as u_USER_NAME, u.USER_PWD as u_USER_PWD, u.USER_STATUS as u_USER_STATUS
  </sql>
  
  <select id="selectByExample" parameterType="cn.nullah.newborn.model.base.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info u
    <if test="_parameter != null">
      <include refid="base.Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info u
    where u.USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_info
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByExample" parameterType="cn.nullah.newborn.model.base.UserExample">
    delete from user_info u
    <if test="_parameter != null">
      <include refid="base.Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="cn.nullah.newborn.model.base.User">
    insert into user_info (USER_ID, USER_NAME, USER_PWD, 
      USER_STATUS)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userStatus,jdbcType=SMALLINT})
  </insert>
  
  <insert id="insertSelective" parameterType="cn.nullah.newborn.model.base.User">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPwd != null">
        USER_PWD,
      </if>
      <if test="userStatus != null">
        USER_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="cn.nullah.newborn.model.base.UserExample" resultType="java.lang.Integer">
    select count(*) from user_info u
    <if test="_parameter != null">
      <include refid="base.Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update user_info u
    <set>
      <if test="record.userId != null">
        u.USER_ID = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        u.USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null">
        u.USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null">
        u.USER_STATUS = #{record.userStatus,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="base.Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByExample" parameterType="map">
    update user_info u
    set u.USER_ID = #{record.userId,jdbcType=BIGINT},
      u.USER_NAME = #{record.userName,jdbcType=VARCHAR},
      u.USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      u.USER_STATUS = #{record.userStatus,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="base.Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.nullah.newborn.model.base.User">
    update user_info
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        USER_STATUS = #{userStatus,jdbcType=SMALLINT},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.nullah.newborn.model.base.User">
    update user_info
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_STATUS = #{userStatus,jdbcType=SMALLINT}
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
</mapper>